<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        constants = {
            page: '@Url.RouteUrl("DefaultApi", new {controller = "Project", action = "page" })',
            pagelinks: '@Url.RouteUrl("DefaultApi", new {controller = "Link", action = "pagelinks" })',
            project: '@Url.RouteUrl("DefaultApi", new {controller = "Project", action = "project" })',
            link: '@Url.RouteUrl("DefaultApi", new {controller = "Link", action = "link" })',
            linkdetails: '@Url.RouteUrl("DefaultApi", new {controller = "Link", action = "linkdetails" })',
            token: '@Url.RouteUrl("DefaultApi", new { controller = "Identity", action = "token" })',
            register: '@Url.RouteUrl("DefaultApi", new { controller = "Identity", action = "register" })',
            tokenKey: 'tokenKey'
        }
    </script>
    <title>ClickButtonLink</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div id="content">
    </div>
    <script type="text/javascript" src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>